<html>
    <head>
        <title>LOGIN</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/3ced957014.css" media="all">
        <!-- {% load staticfiles %}
        
        <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
        <script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>
        <script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script> 
        <script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script> -->
    </head>
    <body>
        <div class = "page-header">
            <center>
                <h1>Price Tracking</h1>
            </center>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                <!-- {% for i in row %}
                <h1>{{i.title}}</h1>
                {% endfor %}         -->
                    
                    You can visit the below urls:
                    <div class ="btn-group buffer">
                        <center>
                            <a href="http://amazon.com" class="btn btn-lg btn-success outline" target="_blank" id="amazon"><i class="fa fa-amazon" aria-hidden="true"></i> Amazon</a>
                            <a href="http://paytm.com" class="btn btn-lg btn-danger outline" target="_blank" id="paytm"><i class="fa fa-paytm" aria-hidden="true"></i> Paytm</a>
                            <a href="http://flipkart.com" class="btn btn-lg btn-primary outline" target="_blank" id="flipkart"><i class="fa fa-flipkart" aria-hidden="true"></i> Flipkart</a>
                        </center>
                    </div>
                    <br>
                    To check the data for particular date :
                    
                            <a href="my_custom/" class="btn btn-lg btn-success outline" target="_blank" id="amazon"><i class="fa fa-amazon" aria-hidden="true"></i> Amazon</a>
                            <a href="#" class="btn btn-lg btn-danger outline" target="_blank" id="paytm"><i class="fa fa-paytm" aria-hidden="true"></i> Paytm</a>
                            <a href="#" class="btn btn-lg btn-primary outline" target="_blank" id="flipkart"><i class="fa fa-flipkart" aria-hidden="true"></i> Flipkart</a>
                </div>
            </div>    
        </div>
        <div class = "jumbotron" id = "top" style = "display: block">
            <b>Contact Us:</b>
        </div>
    </body>
</html>